.contactUsForm {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contactUsFormWelcomeText {
  height: 100%;
  align-items: center;
}

.socialIcon {
  color: #f23d7f !important;
  font-size: 1.5rem;
}

.contactUsButton {
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-btn {
  background-color: #a82562 !important;
  border-color: #a82562 !important;
}

.custom-btn:hover {
  background-color: #8b1a52 !important;
  border-color: #8b1a52 !important;
}

.yourAreaDescribe {
  font-weight: 550 !important;
  font-size: 1.2rem;
}

.yourAreaTitle {
  color: #f23d7f !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3); /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}
