.category-column {
  min-height: 400px;
  transition: all 0.3s ease;
  pointer-events: auto;
  position: relative;
}

.category-column:hover {
  background-color: #6007f018;
  border: 1px dashed #8e4bfada;
}

/* Feedback visivo durante drag */
.category-column.drag-over {
  background-color: #6007f018 !important;
  border-color: #8e4bfada !important;
}

/* ------------------- */

.emptyDrop {
  height: 300px;
  border: 2px dashed #d3cccce0;
  border-radius: 8px;
  color: #d3cccce0;
  font-style: italic;
  pointer-events: auto;
  z-index: 1050;
  position: relative;
  background: #2600ff2c;
}

.emptyDrop:hover,
.category-column.drag-over .emptyDrop {
  background-color: #6007f018;
  border-color: #8e4bfada;
}

.dragOverlayWrapper {
  pointer-events: none !important;
  opacity: 0.5 !important;
  background-color: #6007f018 !important;
  border-color: #8e4bfada !important;
}
