.category-column {
  min-height: 400px;
  transition: all 0.3s ease;
  pointer-events: auto;
  position: relative;
}

.category-column:hover {
  background-color: #6007f018;
  border: 1px dashed #8e4bfada;
}

/* Feedback visivo durante drag */
.category-column.drag-over {
  background-color: #6007f018 !important;
  border-color: #8e4bfada !important;
}

/* ------------------- */

.dragOverlayWrapper {
  pointer-events: none !important;
  opacity: 0.5 !important;
  background-color: #6007f018 !important;
  border-color: #8e4bfada !important;
}

/* ------------------- */

.emptyDrop {
  min-height: 300px !important;
  border: 2px dashed #dddada7c !important;
  background-color: #6007f018 !important;
  border-radius: 8px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.emptyDrop:hover {
  border-color: #6007f018 !important;
  transform: translateY(-2px);
}

.dropTaskBoxIcon {
  color: #dddada7c !important;
  font-size: 3rem !important;
}
.dropTaskBox {
  color: #dddada7c !important;
  font-size: 1.7rem !important;
  font-weight: 700;
}
