@keyframes pulseShadow {
  0%,
  100% {
    box-shadow: 0 0 23px #f23d7f;
  }
  30% {
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }
}

/* ____________________________ */

.homeNavbar {
  border-radius: 20px;
  animation: pulseShadow 3s infinite;
}

.linkIconSymbol {
  color: #f23d7f !important;
  position: relative;
  right: 20px;
  top: 2px;
}

.homeLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.homeLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.howItWorksLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.howItWorksLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.contact_usLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.contact_usLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.loginLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.loginLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.logoutLink {
  text-shadow: 2px 2px 4px #f23d7f;
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
  color: #f23d7f !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.logoutLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.yourAreaLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.yourAreaLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.projectsLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
  font-size: 2.1rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.projectsLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.navbarSpacer {
  border-top: 5px solid black !important;
}

.homeSearchField {
  border-radius: 50px !important;
  width: 250px;
}

.homeSearchButton {
  border-radius: 50% !important;
  position: relative;
  right: 40px;
  background-color: #69b7bf !important;
  border-color: #69b7bf !important;
}

.homeSearchIcon {
  font-size: 0.9rem;
}

.frosted-glass-homeNavbar {
  background-color: rgba(
    255,
    255,
    255,
    0.664
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}
