.howItWorksMenuCard {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ___________ */

.welcomeText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px #f2e0d0;
  color: #a82562;
}

.welcomeBoldText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}

.boldText {
  color: #f23d7f !important;
  font-size: 1.2rem !important;
}

.textDocumentationWelcomeText {
  align-items: center;
}

.textDocumentationList {
  font-weight: 550;
  text-overflow: ellipsis;
}

.textDocumentationList > li {
  font-size: 1.2rem;
  font-weight: 550;
  text-overflow: ellipsis;
}

.textDocumentation {
  font-size: 1.1rem;
  font-weight: 550;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

/* ________ */

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3); /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}
