.loginForm {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loginFormWelcomeText {
  height: 100%;
  align-items: center;
}

.loginFormWelcomeText > h3 {
  position: relative;
  top: 50px;
  z-index: 10;
}

.signUpAdds {
  font-size: 1.2rem !important;
  font-weight: 550 !important;
  margin-bottom: 0px;
}

.submitButton {
  font-size: 1.2em;
  font-weight: 700;
}

.loginButton {
  background-color: #a82562 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.signupButton {
  background-color: #a82562 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.signupButtonText {
  font-size: 1.9rem !important;
}

.gifDiv {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.checkGif {
  position: relative;
  left: 0px;
  bottom: 80px;
  height: auto;
}

.yourAreaDescribe {
  font-weight: 550 !important;
  font-size: 1.2rem;
}

.brInterruption {
  color: #5f7385;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.welcomeText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px #f2e0d0;
  color: #a82562;
}

.welcomeBoldText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}

.boldText {
  color: #f23d7f !important;
}

.textDocumentationWelcomeText {
  align-items: center;
}

.textDocumentationList {
  font-size: 1.1rem;
  font-weight: 550;
  text-overflow: ellipsis;
}

.textDocumentation {
  font-size: 1.1rem;
  font-weight: 550;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.loginText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px #f2e0d0;
  color: #a82562;
}
