.loginForm {
  background-color: beige;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
}

.loginFormWelcomeText {
  height: 100%;
  align-items: center;
}

.signUpAdds {
  font-size: 0.8em;
  font-weight: 300;
}

.signUpButton {
  font-size: 1.8em;
  font-weight: 700;
}
