.notFoundBanner {
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notFoundDiv {
  width: 100%;
}

.notFoundImg {
  overflow: hidden;
}

.notFoundText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.notFoundBug {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.notFoundJoke {
  font-size: 1.6em;
  font-weight: 600;
  text-shadow: 5px 1px 10px #a82562;
  color: #f2e0d0;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}
