.projectNavbar {
  height: 66px !important;
  font-size: 1.3rem !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1030 !important;
}

.homepageLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
}

.homepageText {
  font-size: 1.4rem;
  font-weight: 700;
}

.homepageReturnIcon {
  font-size: 1.4rem;
  font-weight: 700;
}

.homepageLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.searchBox {
  border-radius: 15px;
}

.bulletPoint {
  font-size: 2.3rem;
  flex-shrink: 0 !important;
}

.projectSingleTitle {
  max-width: 100%;
  word-break: break-word;
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.2rem;
  font-weight: 600 !important;
  color: #a82562;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.projectSingleTitle:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  text-shadow: 2px 2px 4px rgba(168, 37, 98, 0.7);
  color: #a00b50;
}

.projectText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.4rem !important;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}

.projectsListTextTitle {
  font-family: "Bruno Ace SC", sans-serif;
  color: #a00b50;
  font-weight: 600;
  font-size: 3rem !important;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.singleProjectListNotFound {
  font-size: 1.5rem !important;
  font-weight: 600;
  background-color: #f2e0d0 !important;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.singleProjectList {
  background-color: #f2e0d0 !important;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.unorderList {
  list-style-type: none;
}

.dxProjectCardDetails {
  border-right: 1px solid #cdc5bd;
}

.memberTaskCounters {
  font-size: 1.4rem;
  font-weight: 700;
}

.brInterruption {
  color: #5f7385;
}

.creationExpiryDates {
  font-size: 1.4rem;
  font-weight: 700;
}

.inputDateData {
  font-size: 1.7rem;
  font-weight: 500;
}

.modalDeleteButton {
  background-color: #d98299 !important;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.modalSaveButton {
  background-color: #6aa4b7 !important;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.highlightText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

/* _________________ */

.descriptionSubtitle {
  font-size: 1.7em;
  text-shadow: 2px 2px 5px #f2e0d0;
  color: #a82562;
  position: relative;
  font-weight: 700;
  position: relative;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-sizing: border-box;
  background: none;
  z-index: 0;
}

.descriptionSubtitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(89, 42, 165, 0.24) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: -10;
  pointer-events: none;
}

/* _________________ */

.descriptionTitle {
  font-size: 1.4rem;
  font-weight: 700;
}

.descriptionText {
  font-size: 1.2rem;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
  background-color: beige;
}

.projectLi {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #cdc5bd;
  border-top-right-radius: 50px;
}

.projectJoke {
  font-size: 1.6em;
  font-weight: 600;
  text-shadow: 5px 1px 10px #a82562;
  color: #f2e0d0;
}

.sticky-sideBar {
  position: sticky;
  top: 80px;
  align-self: flex-start;
  height: fit-content;
}

.wrapperMainBoard {
  padding-top: 80px;
  width: 100%;
  font-size: 1rem;
}

.frosted-glass-project {
  background-color: rgba(255, 255, 255, 0.664) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.frosted-glass {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.projectCardTextDescription {
  font-weight: 500;
  font-size: 1.4rem;
  color: #a82562 !important;
}

.projectCardTextDescriptionSPECIAL {
  font-weight: 500;
  font-size: 1.4rem;
  color: #a82562 !important;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
  background-color: beige;
}

.brInterruptionBIG {
  color: white;
}

.newProjectIcon {
  font-size: 2.5rem;
}

.newProjectButton {
  position: relative;
  width: 100%;
  border-radius: 8px !important;
  background-color: #6aa4b7 !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
  font-size: 1.7rem !important;
  overflow: hidden;
}

.memberEditButton {
  border-radius: 8px !important;
  background-color: #6aa4b7 !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.memberDeleteButton {
  border-radius: 8px !important;
  background-color: #d98299 !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.memberIcon {
  font-size: 0.9rem;
}

.buttonDescription {
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.addMemberButton {
  position: relative;
  background-color: #6aa4b7 !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
  overflow: hidden;
}

.plusButtonIconTask {
  position: relative;
  top: 2px;
}
