.modalColor {
  background-color: #69b7bf !important;
}

.modalText {
  font-family: "Genos", sans-serif;
  font-size: 1.3rem !important;
  text-shadow: 2px 2px 5px #f2e0d0 !important;
  font-weight: 500 !important;
}

.modalTextTitle {
  color: #a82562 !important;
  font-weight: 700 !important;
}

.modalCloseButton {
  background-color: #d98299 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.modalSaveButton {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.advertiser {
  font-size: 1.1rem !important;
  font-weight: 300 !important;
  font-style: italic;
}

.avatarBoxMember {
  width: 100%;
  max-width: 50px;
  min-width: 15px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.avatarImgMember {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.avatarBoxMember:hover .avatarImg {
  transform: rotateY(360deg);
}

.scrollableUserList {
  max-height: 300px;
  overflow-y: auto;
  padding-left: 0;
  margin-bottom: 0;
}

.addMemberButtonModal {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.memberFullName {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}
