.modalColor {
  background-color: #69b7bf !important;
}

.modalText {
  font-family: "Genos", sans-serif;
  font-size: 1.3rem !important;
  text-shadow: 2px 2px 5px #f2e0d0 !important;
  font-weight: 500 !important;
}

.modalTextTitle {
  color: #a82562 !important;
  font-weight: 700 !important;
}

.modalCloseButton {
  background-color: #d98299 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.modalSaveButton {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.advertiser {
  font-size: 1.1rem !important;
  font-weight: 350 !important;
  font-style: italic;
}
