.projectNavbar {
  height: 66px !important;
  font-size: 1.3rem !important;
}

.homepageLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
}

.homepageLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.unorderListDiv {
  border-radius: 15px;
}

.searchBox {
  border-radius: 15px;
}

.newProjectButton {
  border-radius: 15px;
  font-family: "Bruno Ace SC", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.projectText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}

.highlightText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.projectJoke {
  font-size: 0.8em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass-project {
  background-color: rgba(
    255,
    255,
    255,
    0.664
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}

.frosted-glass {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px) !important; /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px) !important; /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4) !important; /* bordo leggero */
}

.frosted-glass-newProject {
  box-shadow: 2px 2px 8px#f23d7f !important;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px) !important; /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px) !important; /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4) !important; /* bordo leggero */
}
