.projectNavbar {
  height: 66px !important;
  font-size: 1.3rem !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
}

.mainBoardDiv {
  padding-top: 120px;
}

.loggedNickname {
  font-family: "Bruno Ace SC", sans-serif;
  color: #a82562 !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.projectNavbarTitle {
  font-family: "Bruno Ace SC", sans-serif;
  color: #a82562 !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.returnProjectButton {
  background-color: #0e93a1 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.returnHomeButton {
  background-color: #0e93a1 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.returnDetails {
  font-size: 1.6rem !important;
}

.returnIcon {
  position: relative;
  top: 3px;
  font-size: 1.5rem;
  font-weight: 900;
}

.frosted-glass-project {
  background-color: rgba(255, 255, 255, 0.664) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.saveProjectButton {
  background-color: #a82562 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.saveDetails {
  font-size: 1.6rem !important;
}

.saveIcon {
  position: relative;
  top: 3px;
  font-size: 1.5rem;
  font-weight: 900;
}
