.projectNavbar {
  height: 66px !important;
  font-size: 1.3rem !important;
}

.homepageLink {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.4s ease, text-shadow 0.4s ease;
  background-color: inherit !important;
}

.homepageLink:hover {
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.searchBox {
  border-radius: 15px;
}

.newProjectButton {
  border-radius: 15px;
  font-family: "Bruno Ace SC", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  color: #f23d7f !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.projectSingleTitle {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #a82562;
}

.projectText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2.4rem !important;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}

.projectListTextTitle {
  color: #f2e0d0 !important;
  font-weight: 600;
  font-size: 2.5rem !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.singleProjectList {
  font-size: 2.5rem !important;
}

.unorderListDiv {
  background-color: beige !important;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(10px) !important; /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px) !important; /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4) !important; /* bordo leggero */
}

.memberTaskCounters {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #a82562;
}

.brInterruption {
  color: #5f7385;
}

.divisionBar {
  color: #a82562;
  font-size: 5rem !important;
  border: 7px solid #a82562 !important;
  box-shadow: 2px 2px 8px #a82562 !important;
  border-radius: 50px;
}

.creationExpiryDates {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #a82562;
}

.unorderList > li {
  font-size: 1.5rem !important;
}

.modalDeleteButton {
  background-color: #d98299 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.modalSaveButton {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.highlightText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.bulletPoint {
  font-size: 1rem;
}

.projectLi {
  white-space: pre-wrap; /* mantiene i ritorni a capo */
  word-wrap: break-word; /* rompe parole lunghe se necessario */
  max-width: 100%; /* si adatta al contenitore */
  max-height: 500px; /* o un valore adatto per altezza max */
  overflow: auto;
}

.projectJoke {
  font-size: 1.3em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass-project {
  background-color: rgba(
    255,
    255,
    255,
    0.664
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}

.frosted-glass {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7) !important;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px) !important; /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px) !important; /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4) !important; /* bordo leggero */
}

.frosted-glass-newProject {
  box-shadow: 2px 2px 8px#f23d7f !important;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* sfondo semitrasparente */
  backdrop-filter: blur(10px) !important; /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px) !important; /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4) !important; /* bordo leggero */
}
