.sideBanner {
  background-color: #69b7bf;
  width: 4vw;
  min-width: 82px;
  overflow: hidden;
  height: 100vh;
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  border-right: 2px ridge rgb(0, 0, 0);
}

.iconDot {
  width: 100%;
  font-size: 2em;
  text-shadow: -0px -0px 12px #f2e0d0;
}

.sideBannerDots {
  position: relative;
  transform: rotate(270deg);
  font-size: 1.5em;
  font-weight: 600;
  width: 100vh;
}

.scrollContent {
  color: #0e93a1;
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
  width: 200vh;
  animation: scrollHorizontal 16420ms linear infinite;
  white-space: nowrap;
}

@keyframes scrollHorizontal {
  0% {
    transform: translateX(0) rotate(180deg);
  }
  100% {
    transform: translateX(+65%) rotate(180deg);
  }
}

.titleContainer {
  position: absolute;
  right: -170px;
  top: 400px;
}

.sideBannerTitle {
  font-family: "Bruno Ace SC", sans-serif;
  transform: rotate(270deg);
  font-size: 4.5em;
  font-weight: 600;
  text-shadow: 5px 5px 5px #a82562;
  color: #f2e0d0;
}

.sideBannerUnderTitle {
  font-family: "Bruno Ace SC", sans-serif;
  position: absolute;
  bottom: 340px;
  left: 95px;
  transform: rotate(270deg);
  font-size: 2.3em;
  font-weight: 600;
  color: #a82562;
  text-shadow: 2px 2px 5px #f2e0d0;
}

/* .sideBannerLogoDiv {
  position: absolute;
  top: 650px;
  transform: rotate(270deg);
  left: -50px;
  width: 180px;
  height: 100px;
  overflow: hidden;
} */

/* .sideBannerLogoImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
} */

.wrapper {
  width: 100%;
}
