.signUpForm {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.boldText {
  color: #f23d7f !important;
  font-size: 1.7rem !important;
  font-weight: 600 !important;
}

.signUpStatus {
  width: 180%;
}

.signUpFormWelcomeText {
  height: 100%;
  align-items: center;
}

.signUpAdds {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.signupButton {
  background-color: #a82562 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: #f2e0d0 !important;
}

.custom-btn {
  background-color: #a82562 !important;
  border-color: #a82562 !important;
}

.custom-btn:hover {
  background-color: #8b1a52 !important;
  border-color: #8b1a52 !important;
}

.gifDiv {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.gifImg {
  position: relative;
  left: 50px;
}

.yourAreaDescribe {
  font-weight: 550 !important;
  font-size: 1.2rem;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.signupWelcomeText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px #f2e0d0;
  color: #a82562;
}

.signupWelcomeBoldText {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f2e0d0;
  text-shadow: 2px 2px 5px #a82562;
}
