.signUpForm {
  background-color: beige;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
}

.signUpFormWelcomeText {
  height: 100%;
  align-items: center;
}

.signUpAdds {
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}

.signUpButton {
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}
