.cardMainContainer {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.taskCard {
  font-weight: 600;
  font-size: 1.1em !important;
  text-shadow: 0px 0px 1px #0e93a1;
  background-color: #f2e0d0 !important;
}

.taskCardText {
  font-size: 0.5em;
}

.taskCardTextTitle {
  font-family: "Bruno Ace SC", sans-serif;
  color: #a82562 !important;
  font-size: 0.7em !important;
  font-weight: 600 !important;
}

.dropdownStatusChange {
  background-color: beige;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
}

.taskCardTextDescription {
  font-weight: 500;
  font-size: 1.2rem;
  color: #a82562 !important;
}

.taskCardTextDescriptionSPECIAL {
  font-weight: 500;
  font-size: 1rem;
  color: #a82562 !important;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
  background-color: beige;
}

.taskCardTextDescriptionPRIORITY {
  min-width: 125px;
  font-weight: 800;
  font-size: 0.5em;
  border-radius: 50px;
}

.taskCardTextTimeInfo {
  font-size: 0.5em;
}

.brInterruption {
  color: #5f7385;
}

.form-check {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.form-check-label {
  color: #a82562 !important;
}

.taskCardDeleteButton {
  background-color: #d98299 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.taskCardButton {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}
