.cardMainContainer {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.taskCard {
  font-weight: 600;
  font-size: 1.1em !important;
  text-shadow: 0px 0px 1px #0e93a1;
  background-color: #f2e0d0 !important;
}

.taskCardText {
  font-size: 0.5em;
}

.taskCardTextTitle {
  font-family: "Bruno Ace SC", sans-serif;
  color: #a82562 !important;
  font-size: 0.7em !important;
  font-weight: 600 !important;
}

.dropdownStatusChange {
  font-weight: 600 !important;
  background-color: beige;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
}

.taskCardTextDescription {
  font-weight: 500;
  font-size: 1.2rem;
  color: #a82562 !important;
}

.taskCardTextDescriptionSPECIAL {
  font-weight: 500;
  font-size: 1rem;
  color: #a82562 !important;
  border: 1px solid #d9829983 !important;
  border-radius: 6px;
  background-color: beige;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskCardTextDescriptionSPECIAL.expanded {
  max-height: none;
  overflow: visible;
}

.taskCardTextDescriptionPRIORITY {
  min-width: 125px;
  font-weight: 800;
  font-size: 0.5em;
  border-radius: 50px;
}

.taskCardTextTimeInfo {
  font-size: 0.5em;
}

.brInterruption {
  color: #5f7385;
}

.form-check {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.form-check-label {
  color: #a82562 !important;
}

.taskCardDeleteButton {
  background-color: #d98299 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

.taskCardButton {
  background-color: #6aa4b7 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border-color: white !important;
}

/* ----------------------------- */

.cardDimOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(22, 5, 54, 0.507);
  z-index: 1;
}

.reopenTaskButtonDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.reopenTaskButton {
  background-color: rgba(22, 5, 54, 0.616) !important;
  border-radius: 50px !important;
  border: 0px none !important;
  color: beige !important;
  font-weight: 700 !important;
  z-index: 400 !important;
  opacity: 1 !important;
  box-shadow: 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000;
}

.reopenTaskText {
  color: #f23d7f;
  font-size: 1.3rem !important;
  text-shadow: 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000;
}

.checkCompleteText {
  color: #00ff9d;
  text-shadow: 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000;
}

.checkCompleteIcon {
  color: #00ff9d;
  font-size: 7rem !important;
  text-shadow: 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000;
}

/* ----------------------------- */

.dndIcon {
  font-size: 1.2rem;
  color: #f0aa9a !important;
  opacity: 1 !important;
}

.dropdownStatusChangeMENU {
  font-weight: 600 !important;
  background-color: beige;
}

.status-TO-DO {
  color: black;
}

.status-IN_PROGRESS {
  color: rgb(5, 209, 192);
}

.status-IN_REVIEW {
  color: rgb(93, 0, 214);
}

.status-UNDER_TESTING {
  color: rgb(93, 0, 214);
}

.status-PAUSED {
  color: rgb(255, 197, 7);
}

.status-WAITING_FEEDBACK {
  color: rgb(255, 197, 7);
}

.status-BLOCKED {
  color: rgb(179, 0, 0);
}

.status-CANCELLED {
  background-color: rgb(179, 0, 0);
  color: white;
}
