.updateForm {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-height: 85vh;
  min-height: 85vh;
  height: auto;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.boldText {
  color: #f23d7f !important;
}

.updateStatus {
  width: 180%;
}

.updateFormWelcomeText {
  /* height: 100%; */
  align-items: center;
}

.updateAdds {
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}

.updateButton {
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-btn {
  background-color: #a82562 !important;
  border-color: #a82562 !important;
  font-size: 1rem !important;
}

.custom-btn-password {
  background-color: #0e93a1 !important;
  border-color: #0e93a1 !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
}

.custom-btn:hover {
  background-color: #8b1a52 !important;
  border-color: #8b1a52 !important;
}

.brInterruption {
  color: #5f7385;
}

.yourAreaTitle {
  color: #f23d7f !important;
  font-weight: 600 !important;
  font-size: 1.7rem;
}

.yourAreaDescribe {
  font-weight: 550 !important;
  font-size: 1.2rem;
}

.wrapper {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3); /* sfondo semitrasparente */
  backdrop-filter: blur(10px); /* effetto sfocatura */
  -webkit-backdrop-filter: blur(10px); /* supporto Safari */
  border: 1px solid rgba(255, 255, 255, 0.4); /* bordo leggero */
}
