@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  background: #444444;
  height: 100vh;
  margin: 0;
  font-family: "Genos", sans-serif;
  font-size: 2em;
}
