@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

#root {
  background-color: #0e93a1;
  background-image: url("./public/images/App_background.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  min-height: 100vh !important;
  margin: 0 !important;
  font-family: "Genos", sans-serif !important;
  font-size: 2em !important;
  color: #30373d !important;
  padding: 0px !important;
}
